@font-face
    font-family: "Jura"

*
    box-sizing: border-box

body
    height: 100vh
    margin: 0px


    display: flex
    flex-direction: column
    justify-content: space-between

    background-image: url(../img/background/welcome-background.svg)
    background-size: cover

    background-position: center center
    background-repeat: no-repeat

    font-family: 'Jura', sans-serif
    font-size: 10px
    line-height: 1
    color: #FFFFFF

    blockquote, q
        quotes: none

    nav ul
        list-style: none

    blockquote:before, blockquote:after, q:before, q:after
        content: ""

    a
        text-decoration: none
        margin: 0
        padding: 0
        font-size: 100%
        vertical-align: baseline
        background: transparent

        // h1 {font-size: 1rem}
        // h2 {font-size: 1,5rem}
        // h3, h4, h5, h6 {font-size: 0,8rem}
    &:hover
        border-bottom: 2px solid #f91f408c
        transition: all 0.2

    header, footer, main
        width: 100%


.container
    width: 100%
    margin: 0 auto

    /*********** header ********************/

.logo
    width: 313px
    height: 338px

    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-grow: 1

    margin-top: 81px
    margin-left: 96px
    &__text
        width: 418px
        height: 252px
        margin-left: 48px

/************** main **************/



.frame
    width: 2800px
    height: 1700px

    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    z-index: 20
    padding: 180px 70px
    background-color: rgba(52, 53, 65, 0.82)
    border-radius: 90px
    border: solid 3px #f91f408c

    // animation-delay: 6s
    // animation: expand 4s ease-in-out



    // @keyframes expand
    //     0%

    //         width: 0
    //         height: 0

    //     50%

    //         width: 2800px
    //         height: 100px
    //     100%
    //         width: 2800px
    //         height: 1700px

    // &__list-wrapper
    //     width: 100%
    //     height: 100%

    //     animation-delay: 8s
    //     animation: wrapper 4s ease-in forwards

    //     @keyframes wrapper
    //         0%

    //             width: 0%
    //             height: 0%

    //         100%

    //             width: 100%
    //             height: 100%


.frame__list
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: wrap
    text-align: center
    gap: 100px
    position: relative
    flex-grow: 2


.items
        list-style: none

.frame__circles
    width: 600px
    height: 600px
    border-radius: 50%
    background-color: #444654

    text-align: center
    padding: 30%
    border: 10px dashed #f91f408c
    box-shadow: 0 0 26px #f91f408c

    font-size: 2rem
    line-height: 1

    // animation: spin 8s linear forwards


    // @keyframes spin
    //     0%
    //         clip-path: inset(100%)
    //         transform: rotate(0deg)


    //     100%

    //         transform: rotate(360deg)
    //         border: 4px solid #f91f408c



// .exersices:hover, .results:hover, .trackers:hover, .more:hover, .goals:hover, .plans:hover
//     animation: hoverspin 1s linear infinite

//     @keyframes hoverspin
//             0%
//                 transform: rotate(0deg)

//             100%
//                 transform: rotate(360deg)
//                 border: 4px solid #f91f408c


// .goals:hover

//     position: absolute
//     z-index: 100
//     top: 50%
//     left: 50%
//     transform: translate(-50%,-50%)

//     animation: hover-spin 1s infinite linear
//     animation-delay: 1s

//     @keyframes hover-spin
//         0%
//             transform: rotate(0deg)

//         100%
//             transform: rotate(360deg)
//             border: 4px solid #f91f408c
//             width: 700px
//             height: 700px

// .plans:hover
//     position: absolute
//     top: 50%
//     left: 50%
//     transform: translate(-50%,-50%)
//     animation: hover-spin 1s infinite linear
//     animation-delay: 1s

//     @keyframes hover-spin
//         from
//             width: 600px
//             height: 600px
//             transform: rotate(0deg)

//         to
//             transform: rotate(360deg)
//             border: 4px solid #f91f408c
//             width: 700px
//             height: 700px

//     // , .exersices:hover, .results:hover, .trackers:hover, .more:hover



/************** footer ***************/

.footer
    height: 100px
    margin: 0
    color: #FFFFFF
    font-size: 3rem




.img-footer
    width: 100%
    height: 110px
    display: flex
    flex-direction: row
    justify-content: space-around


.wrapper-footer
    width: 100%
    height: 100%
    margin: 0 auto
    max-width: 3000px
    padding: 0 10px

    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 100px
    flex-grow: 0
.copyright
    display: flex
    flex-direction: row
    justify-content: flex-start
    width: 250px
    height: 50px



.copyright__icon-mail
    display: flex
    flex-direction: row

.icons
    width: 80px
    height: 80px

a
    text-decoration: none
    color: #FFFFFF
    margin-left: 10px


.email-contact
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin-left: 20px

.email-dev
    display: flex
    flex-direction: row
    justify-content: flex-start


p
    margin-left: 10px
    margin-top: 0px

.github-logo
    display: flex
    flex-direction: row
    justify-content: flex-start


.icon-github
    margin: 0



