@font-face {
  font-family: "Jura";
}
* {
  box-sizing: border-box;
}

a {
  margin: 0px;
}

p {
  margin: 0px;
}

body {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/background/welcome-background.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Jura", sans-serif;
  font-size: 10px;
  line-height: 1;
  color: #FFFFFF;
}
body blockquote, body q {
  quotes: none;
}
body nav ul {
  list-style: none;
}
body blockquote:before, body blockquote:after, body q:before, body q:after {
  content: "";
}
body a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body header, body footer, body main {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  /*********** header ********************/
}

.logo {
  width: 313px;
  height: 338px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 81px;
  margin-left: 96px;
}
.logo__text {
  width: 418px;
  height: 252px;
  margin-left: 48px;
}

/************** main **************/
.frame {
  width: 2800px;
  height: 1100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  padding: 100px;
  background-color: rgba(52, 53, 65, 0.82);
  border-radius: 90px;
  border: solid 3px rgba(249, 31, 64, 0.5490196078);
}
.frame__list-wrapper {
  width: 100%;
  height: 100%;
}

.frame__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.items {
  list-style: none;
}

.frame__circles {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: #444654;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 10px dashed rgba(249, 31, 64, 0.5490196078);
  box-shadow: 0 0 26px rgba(249, 31, 64, 0.5490196078);
  font-size: 6rem;
  line-height: 1;
  margin: 100px;
}

/************** footer ***************/
.footer {
  height: 100px;
  margin: 0;
  color: #FFFFFF;
  font-size: 3rem;
}

.img-footer {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper-footer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 3000px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  flex-grow: 0;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 250px;
  height: 50px;
}

.copyright__icon-mail {
  display: flex;
  flex-direction: row;
}

.icons {
  width: 80px;
  height: 80px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 10px;
}

.email-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
}

.email-dev {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

p {
  margin-left: 10px;
  margin-top: 0px;
}

.github-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon-github {
  margin: 0;
}

/*# sourceMappingURL=welcome-page-style.css.map */
